//
// Global Variables
// =============================================================================


//
// Buttons
// -------

// Selector names
$button-selectors: "button", ".button" !default;


//
// Badges & Labels
// ---------------

// Selector names
$badge-selectors: ".badge" !default;
$label-selectors: ".label" !default;
