//
// Base styles
// =============================================================================


//
// Normalization
// -------------

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar; // IE11+
  overflow-y: scroll; // All browsers without overlaying scrollbars
  text-size-adjust: 100%; // iOS 8+
}

audio:not([controls]) {
  display: none; // Chrome 40+, iOS 8+, Safari 8+
}

details {
  display: block; // Firefox 35+, Internet Explorer 11+, Windows Phone 8.1+
}

input {
  &[type="number"] {
    width: auto; // Firefox 36+
  }

  &[type="search"] {
    -webkit-appearance: textfield; // Safari 8+

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none; // Safari 8+
    }
  }
}

main {
  display: block; // Android 4.3-, Internet Explorer 11+, Windows Phone 8.1+
}

summary {
  display: block; // Firefox 35+, Internet Explorer 11+, Windows Phone 8.1+
}

pre {
  overflow: auto; // Internet Explorer 11+
}

progress {
  display: inline-block; // Internet Explorer 11+, Windows Phone 8.1+
}

small {
  font-size: 75%; // All browsers
}

template {
  display: none; // Android 4.3-, Internet Explorer 11+, iOS 7-, Safari 7-, Windows Phone 8.1+
}

textarea {
  overflow: auto; // Internet Explorer 11+
}

[hidden] {
  display: none; // Internet Explorer 10-
}

[unselectable] {
  user-select: none; // Android 4.4+, Chrome 40+, Firefox 36+, iOS 8+, Safari 8+
}


//
// Universal Inheritance
// ---------------------

// Specify default styles in the document
:root {
  box-sizing: border-box;
  cursor: default;
  font-family: $font-family;
  line-height: unitSize(3);
  text-rendering: optimizeLegibility;
  vertical-align: top;
  color: getColor(text, primary);
  font-size: floor($font-base-size * 0.875) + px;

  @media #{$bp-extra-small} {
    font-size: $font-base-size + px;
  }
}

*,
::after,
::before {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
  cursor: inherit;
}

// Automatic margins
* + * { margin-top: unitSize(3); }

::selection {
  background: getColor(base, selection);
}

//
// Misc
// ---------------------

body {
  background-color: getColor(base, body);
  margin: 0;
}

a,
button,
input,
select,
textarea { cursor: initial; }

// Delete margin on br
br { margin-top: 0; }

// Semantic sections
@if ($padding-sem-sections) {
  section,
  main,
  article,
  header,
  footer,
  aside,
  nav { padding-top: unitSize(3); }
}
