//
// Tables
// =============================================================================

table {
  empty-cells: show;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    line-height: unitSize(6);
    text-align: center;
  }

  thead {
    background-color: getColor(background, light);
    text-align: left;
  }

  th,
  td {
    line-height: unitSize(6);
    padding: unitSize(1) 1em;
  }

  @media #{$bp-extra-small} {
    & {
      width: auto;

      th,
      td { padding: 0 2.5em; }
    }
  }
}
