footer.main-footer
  ul
    li: a(href='https://github.com/ConciseCSS/concise.css/blob/master/CONTRIBUTING.md') Contributing
    li: a(href='https://github.com/ConciseCSS/concise.css/issues') Issues
    li: a(href='https://github.com/ConciseCSS/concise.css/wiki/Changelog') Changelog
    li: a(href='https://www.gittip.com/keenanpayne/') Gittip
    li: a(href='http://twitter.com/concisecss') Twitter
    li: a(href='http://facebook.com/concisecss') Facebook
    li: a(href='https://plus.google.com/103423710089455112688') G+

  p: small &copy; 2015 - Concise Team